/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image: url('./assets/gray-background.jpg');
  background-position: center;
  transition-timing-function: linear;
  animation: moveBackground 50s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
